.cards{
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 60px 100px;
  justify-items: center;

  max-width: 920px;
  /* margin: 0 auto; */
  box-sizing: border-box;

  list-style-type: none;
  padding: 0;
}

/* @media screen and (max-width: 1250px) {
  .cards{
    gap: 60px 30px;
  }
} */
/* .cards{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  gap: 0 100px;

  max-width: 920px;
  margin: auto;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  list-style-type: none;
  padding: 0;
} */
