
.video__iframes{
  /* max-width: fit-content; */
  max-width: 80%;
  margin: 50px auto -60px auto;
  padding: 0;

  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 375px) {
  .video__iframes{
    grid-template-columns: 1fr;
  }
}
/* .video__iframes{
  width: fit-content;

  margin: 50px auto -60px auto;

  display: flex;
  flex-wrap: wrap;

  gap: 0 20px;

  list-style-type: none;
  padding: 0;
} */
