.section-title {
  width: 60%;
  margin: auto auto 20px;
  padding: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

@media screen and (max-width:766px){
  .section-title{
    width: 80%;
  }
}

@media screen and (max-width:550px){
  .section-title{
    width: 100%;
    font-size: 46px;
  }
}
