.section-subtitle{
  width: 60%;
  margin: auto;
  padding: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

@media screen and (max-width:766px){
  .section-subtitle{
    width: 80%;
  }
}

@media screen and (max-width:550px){
  .section-subtitle{
    font-size: 20px;
  }
}
