.footer__columns {
  width: 90%;
  margin: auto;
  padding: 60px 0 40px 0;
  min-height: 250px;

  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 550px) {
  .footer__columns{
    flex-wrap: wrap;
  }
}
/*
@media screen and (max-width: 375px) {
  .footer__columns{
    align-items: center;
    justify-content: center;
  }
} */
