
.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 0 auto;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  list-style-type: none;
  padding-left: 0;
}
