.two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 80%;

  margin: auto;
}

@media screen and (max-width:1250px){
  .two-columns{
    justify-content: flex-start;
    gap: 20px;
  }
}

@media screen and (max-width:550px){
  .two-columns{
    flex-direction: column;
    width: calc(100% - 64px);
  }
}
