.khan__book-container {
  margin: 68px 0 0 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 0 48px;
}

@media screen and (max-width:766px) {
  .khan__book-container{
    flex-direction: column;
    gap: 48px;
  }

}
